<div class="form-container">
    <h3>Create Account</h3>
    <form method="post" action="/register" class="register-form">
        <label>Username</label>
        <input type="text"><br>
        <label>Email</label>
        <input type="email"><br>
        <label>Password</label>
        <input type="password"><br>
        <input type="submit" value="Submit" class="btn">
    </form>
</div>