<div class="video-grid">
    {{#each videos}}
    <div class="video-container">
        <h3><a href="/video/{{this.id}}">{{this.name}}</h3></a>
        <video width="650" height="300" class="video" muted="muted" controls >
            <source src="/api/video/{{this.id}}" type="video/mp4"/>
        </video>
    </div>
    {{/each}}
</div>

