<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../css/styles.css" rel="stylesheet">
     {{{styles}}}
    <title>Layout</title>
    
</head>
<body>
        <nav class="navigation">
        <a class="menu-item" href="/">All videos</a >
        <a class="menu-item" href="/login">Log In</a>
        <a class="menu-item" href="/create-account">Create account</a>
        <a class="menu-item" href="/upload">Upload a video</a></li>
   </nav> 
    {{{body}}}
</body>
</html>