<div class="form-container">
    <h3>Log In</h3>
    <form method="POST" action="/users/api/login" class="login-form">
        <label>Email</label>
        <input type="email" name="email" value="{{user.email}}" ><br>
        <label>Password</label>
        <input type="password" name="password" value="{{user.password}}" ><br>
        <button>Submit</button>
    </form>
</div>