<div class="upload-container">
    <h3 class="upload-heading">Upload your video</h3>
    <form class="upload auth-hide">
        <label>Name of the video</label>
        <textarea rows="2" class="video-name" name="name" required ></textarea>
        <input type="file" class="upload-input" name="filedata" required>
        <button class="btn">Submit</button>
    </form>
    <p class="upload not-auth">Please log in to upload a video</p>
</div>
<script src="/script/responseHandling.js"></script>
<script src="/script/uploadVideo.js"></script>
