<div class="upload-container">
    <h3 class="upload-heading">Upload your video</h3>
    <form class="upload" method="post" enctype="multipart/form-data">
        <label>Name of the video</label>
        <textarea rows="2" class="video-name"></textarea>
        <input type="file" class="upload-input" required>
        <button class="btn">Submit</button>
    </form>
</div>