<div class="user-container">
    <h3 class="user">{{user.username}}</h3>
    <div class="video-grid">
        {{#each videos}}
        <div class="video-container">
            <video width="650" height="300" class="video" muted="muted" controls >
                <source src="/api/video/{{this.id}}" type="video/mp4"/>
            </video>
            <h3 class="channel"><a href="/video/{{this.id}}">{{this.name}}</a></h3>
        </div>
        {{/each}}
    </div>
</div>