<div class="video-container">
    <h3>{{video.name}}</h3>
    <video width="650" height="300" class="video" muted="muted" controls >
        <source src="/api/video/{{video.id}}" type="video/mp4"/>
    </video>
</div>
